<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ETA_BU{% endblock %}</title>
    <!-- Ajoute ici tes fichiers CSS, par exemple Bootstrap -->
</head>
<body>
    <header>
        <!-- Contenu du header (navigation, logo, etc.) -->
    </header>

    <div class="container">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </div>

    <footer>
        <!-- Contenu du footer -->
    </footer>
</body>
</html>