{% extends "base_generic.html" %}

{% block content %}
  <h2>Détails de l'Établissement</h2>
  <p><strong>Nom :</strong> {{ etablissement.name }}</p>
  <p><strong>Type :</strong> {{ etablissement.get_type_etablissement_display }}</p>
  <p><strong>Adresse :</strong> {{ etablissement.address }}</p>
  <p><strong>Contact :</strong> {{ etablissement.contact }}</p>

  {% if etablissement.logo %}
    <img src="{{ etablissement.logo.url }}" alt="Logo de {{ etablissement.name }}" width="100">
  {% endif %}

  <p>
    <a href="{% url 'modifier_etablissement' etablissement.id %}">Modifier</a> |
    <a href="{% url 'supprimer_etablissement' etablissement.id %}">Supprimer</a> |
    <a href="{% url 'etablissement_list' %}">Retour à la liste</a>
  </p>
{% endblock %}